# Qt Creator
*.user
*.user.*

# Сборки
build-*/
build/
*.pro.user
*.autosave

# Бинарные и временные файлы
*.o
*.a
*.so
*.dll
*.exe
*.app

# Отладочная информация
debug/
release/

# Дополнительно (если нужно)
.DS_Store
Thumbs.db